<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  <div>site.show_excerpts :{{ site.show_excerpts }}</div>
  <div>page.categories :{{ page.categories }}</div>
  <div>page.collection : {{ page.collection }}</div>
  <div>page.path : {{ page.path }}</div>
  <div>page.name : {{ page.name }}</div>
  <div>page.dir : {{ page.dir }}</div>
  <div>site.categories :{{ site.categories }}</div>

  </body>

</html>
